body {
  padding: 20px;
}
label, button {
  display: block;
}

input {
  margin-bottom: 20px;
}
#register, #login, #resend {
  width: 95%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
}
#register {
  background-color: #0099ff;
}
#login {
  background-color: #9988ff;
  display: block;
}
#resend {
  background-color: pink;
}
#request {
  background-color: rgba(255,10,80,0.3);
  padding: 10px;
}
#resenders {
  margin-top: 10px;
  background-color: rgba(255,10,80,0.5);
  padding: 10px;
}
#location_users {
  margin-top: 10px;
  background-color: rgba(255,10,80,0.5);
  padding: 10px;
}

