body {
  padding: 40px;
}
label, button {
  display: block;
}

input {
  margin-bottom: 20px;
}
#register, #login {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  margin: auto;
}
#register {
  background-color: #0099ff;
}
#login {
  margin-top: 50px;
  background-color: #9988ff;
  display: block;
}